/* hoja para dispositivos con pantallas de  alta densidad */
@media only screen and (max-width: 960px) 
{
	#container { 
		width:100%!important; 
		margin: 0!important;
		box-sizing: border-box;
	}
}
@media only screen and (max-width: 480px) 
{
	body {  
		overflow-x:hidden;
	}


	#container { 
		width:100%!important; 
		box-sizing: border-box;
		max-width:100%; 
		min-width:0; 
		margin: 0!important;
	}

	#main { 
		margin-left:0!important;
	}
}

@media only screen and (max-width: 320px)
{
	body { 
		width:320px; 
		overflow-x:hidden;
	}

	#container { 
		width:320px!important; 
		box-sizing: border-box;
		max-width:320px; 
		min-width:0; 
		margin: 0!important;
	}
	#main { 
		margin-left:0!important;
	}
}

